.header__title {
  display: block;
  margin: auto;
  width: 86%;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: orange;
}

.header__title::first-letter {
  text-transform: uppercase;
}

.index__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
