.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar__link {
  text-decoration: none;
  margin-right: 1rem;
  color: black;
  font-size: 1.5rem;
}

.navbar__link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: orange;
}
